html,
body {
  padding: 0 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #21013D;
  font-size: 24px;
}

a {
  color: inherit;
}

a:hover {
  color: #17288F;
}

h1 {
  font-weight: 100;
  font-size: 12vw;
  line-height: 0.75;
}

.appreciation {
  border-top: 1px solid lightcyan;
  padding-top: 80px;
  padding-bottom: 80px;
}

.appreciation h4 {
  margin-top: 0;
}

@media screen and (min-width: 280px) {
  h1 {
    font-size: px;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 120px;
  }

  p {
    font-size: 26px;
  }
}

* {
  box-sizing: border-box;
}
